.profile__userpick-container {
  position: relative;
  margin: auto;
  border-radius: 50%;
}

/* .profile__userpick-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  } */