.popup__container {
  background-color: #fff;
  width: 240px;
  padding: 30px 20px;
  max-width: 1100px;
  position: relative;
  box-sizing: border-box;

  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


@media screen and (min-width: 1280px) {
  .popup__container {
    min-width: 430px;
    padding: 34px 36px 36px 36px;
  }
}
